SQLAlchemy==1.4.46
redis
requests
colorlog
pycryptodome
botocore
boto3==1.24.89
pandas
pillow
ec2_metadata
awscli
matplotlib
psycopg2-binary
slackclient
apscheduler
fsspec
s3fs
uvicorn
fastapi
python-multipart
httpx
gunicorn
portalocker